<html>
<head>
<title>Registration form</title>

</head>

<body >

<h2>Please register with your details</h2>
<form  action="server url" method="post" target="_self">

Username <input type="text"/ name="Uname"><br/>
<br/>

Password<input type="password"/ name="pwd"><br/>
<br/>

Favourite IPL team    KKR<input type="checkbox" name="fav team" value="kol"/> CSK<input type="checkbox" name="fav team" value="chen"/> 
SRH<input type="checkbox" name="fav team" value="hyd"/>
MI<input type="checkbox"/ name="fav team" value="mumb"><br/>
<br/>

Gender Male<input type="radio" name="gender" value="M"/> Female<input type="radio" name="gender" value="F"/><br/>
<br/>

Date of Birth <input type="date"/ name="dob"><br/>
<br/>

Email <input type="email" name="email"/><br/>
<br/>

Upload your resume <input type="file" name="Uresume"/><br/>
<br/>


Upload your photo <input type="file" name="Uphoto"/><br/>
<br/>

Country<select name="ctry">

<option  value="IN">India</option><br/>
<option value="Pak">Pakistan</option><br/>
<option value="Sri">Srilanka</option><br/>
<option value="Ban">Bangladesh</option><br/>

</select><br/>
<br/>

State <select name="state">
<option value="AP">AP</option><br/>
<option value="TS">TS</option><br/>
<option value="TN">TN</option><br/>
<option value="TN">KN</option><br/>

</select><br/>
<br/>

Tell us about yourself <textarea rows=5 col=25 name="about"> </textarea><br/>
<br/>

<button type= "submit" style="background-color:green;color:white"> Register</button>




</form>

</body>






</html>