<html>
<head>

</head>
<title>Select Class</title>
<style>
  *{ margin-top:30;}
  button {width:450px; height:200px; margin-left: 15%; background-color:coral; font-size: 30px;}
  button:hover{background-color:GREEN;}
  button:active {background-color:purple;}


</style>
<body>

<div>
    <a href="feecol_8/"><button>8th class</button></a>
    <a href="feecol_10/"><button>10th class</button> </a>
    <button>7th class</button>
    <button>6th class</button>
    <a href="feecol/"><button>Overall</button></a>
    



</div>




</body>




</html>