

* {margin:0;
padding:0px;} 
 
 h1 {color:yellow; background-color:blue ;}
 div {border:5px solid grey; 
    width:45%;
    text-align: center;
    float: left;
    height: 250px;
    margin:10px;}

    button {background-color:steelblue; color:yellow;
        width:150px; height:35px;}
    button:hover{background-color:yellowgreen; color:steelblue;}
    h2 {text-align:center; font-size:60px; color:red;}

    img {width:100px; height: 100px;}



    